about-us-main{
    border-style: solid;
    border-width: 5px;
    border-color: #32695c;
    width: 81%;
    margin-left: 9.5%;
    margin-right: 9.5%;
    margin-top: 107px;
    margin-bottom: 107px;
    display: grid;
    height: 100%;
}
.about-us-header {
  font-family: Roboto;
  font-weight: bold;
  color:black;
  width: 258px;
  font-size: 36px;
  text-align: center;
  margin-top: 54px;
  margin-left: calc(-129px + 50%);
}
.about-us-text{
 font-family: Roboto;
 color:black;
 font-size: 20px;
 text-align: center;
 margin-left: 25%;
 margin-right: 25%;
 margin-top: 56px;
}

.taste-the-diff-btn{
  font-family: Roboto;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
  background-color: #32695c;
  width: 376px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 60px;
  margin-left: calc(-189px + 50%);
  margin-right: 25%;
}
.taste-the-diff-btn-arrow{
    margin-left: 5px;
    padding-top: 5px;
}
.about-us-trail-ridge-logo{
    Width:261px;
    Height:261px;
    margin-left:calc(-130.5px + 50%);
}
