.hero-section {
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
}
/* .grid-container > div {
  border: solid red 2px;
} */
.logo img {
  width: 90%;
}
.logo {
  border: solid 1px #000;
}

.hero-img {
  height: 400px;
  background-size: cover;
  margin-bottom: 20px;
}
.hero-desk {
  display: none;
}
.hero-mbl {
  display: block;
}

@media (min-width: 992px) {
  .hero-img {
    height: 200px;
  }
  .hero-mbl {
    display: none;
  }
  .hero-desk {
    display: block;
  }
}
