/* =====Header CSS===== */
body {
  margin: 0;
}
#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #e0d8ba;
  grid-gap: 1.5em;
  padding: 0 40px;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;
}
#logo img {
  width: 230px;
}
.cart {
  display: grid;
  justify-content: end;
  align-content: center;
}
.cart.desk-cart {
  display: none;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'Roboto', sans-serif;
}

#links a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

#links a:hover {
  color: #32695c;
  text-decoration: underline;
}

/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fff;
  text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a {
  font-family: 'Roboto', sans-serif;
}
.mobile-btn {
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 992px) {
  #links,
  .mobile-menu {
    display: none;
  }
  #logo {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
  }
}

@media (min-width: 992px) {
  .mobile-btn {
    display: none;
  }
  #logo img {
    width: 300px;
  }
  .cart.mobi-cart {
    display: none;
  }
  .cart.desk-cart {
    display: grid;
    place-content: center;
  }
}

/* =====HERO CSS===== */
body {
  margin: 0;
}
.main {
  margin-bottom: 20px;
  font-family: 'Archivo', sans-serif;
  border-top: solid #32695c 4px;
  border-bottom: solid #32695c 4px;
  background-image: url('/assets/img/desktop-hero-texture.gif');
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.hero {
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
  font-size: 20px;
}
.hero img {
  width: 100%;
  border: solid #32695c 8px;
  filter: drop-shadow(0 0.2rem 0.5rem rgba(0, 0, 0, 0.9));
}
.hero h1 {
  font-size: 1.5em;
  white-space: pre-line;
  text-align: center;
  color: #000;
  font-weight: 800;
}
.hero p {
  padding: 0 70px;
}
.welcome {
  margin-top: 30px;
}
.hero-desk {
  display: none;
}
.hero-mbl {
  display: block;
}

@media (min-width: 992px) {
  .main {
    background-image: url('/assets/img/desktop-hero-texture.gif');
  }
  .main-bg {
    background-image: url('/assets/img/tr-logo-circle-400px-rotate.png');
    background-repeat: no-repeat;
    background-position: top -60px right;
    height: 350px;
    opacity: 0.3;
    background-size: 400px;
  }
  .grid-container {
    grid-template-columns: 1fr;
    gap: 100px;
  }
  .hero {
    grid-template-columns: 2fr 2fr;
    gap: 40px;
    margin-top: -300px;
  }
  .welcome {
    margin-top: 125px;
    max-width: 600px;
  }
  .hero h1 {
    font-size: 2em;
    text-align: left;
  }
  .hero p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.3em;
  }
  .hero-mbl {
    display: none;
  }
  .hero-desk {
    display: block;
  }
}

