/* =====Header CSS===== */
body {
  margin: 0;
}
#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #e0d8ba;
  grid-gap: 1.5em;
  padding: 0 40px;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;
}
#logo img {
  width: 230px;
}
.cart {
  display: grid;
  justify-content: end;
  align-content: center;
}
.cart.desk-cart {
  display: none;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'Roboto', sans-serif;
}

#links a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

#links a:hover {
  color: #32695c;
  text-decoration: underline;
}

/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fff;
  text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a {
  font-family: 'Roboto', sans-serif;
}
.mobile-btn {
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 992px) {
  #links,
  .mobile-menu {
    display: none;
  }
  #logo {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
  }
}

@media (min-width: 992px) {
  .mobile-btn {
    display: none;
  }
  #logo img {
    width: 300px;
  }
  .cart.mobi-cart {
    display: none;
  }
  .cart.desk-cart {
    display: grid;
    place-content: center;
  }
}

/* ======NEWSLETTER CSS===== */
.newsletter-main {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.newsletter {
  width: 325px;
  border: 5px solid #32695c;
  display: grid;
  grid-template-columns: 1fr;
}

.newsletter-main h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 1%;
  color: #32695c;
}

.newsletter-main h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
  text-transform: uppercase;
  color: black;
  margin-top: 20px;
}

.newsletter-main h3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Email Input Box */
#email-input {
  width: 225px;
  margin: 0 auto;
  color: grey;
}

/* Sign Up Button */
.sign-up-btn {
  margin-bottom: 25px;
  background-color: #32695c;
  width: 185px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 5%;
}

/*Text for sign-up-btn */
.sign-up {
  color: white;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15%;
  padding-right: 5%;
  text-align: center;
  text-decoration: none;
}

/* Arrow for sign-up-btn */
#arrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Hover animation for sign-up-btn */
.sign-up-btn:hover {
  color: white;
  background-color: #ffffff;
  border: 2px solid #32695c;
  padding-bottom: 8px;
  padding-top: 8px;
  text-decoration: none;
}

/* Change color of text for sign-up-btn when hover */
.sign-up-btn:hover .sign-up {
  color: #32695c;
}

/* Change color of arrow for sign-up-btn when hover */
.sign-up-btn:hover #arrow {
  border: solid #32695c;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* =====SHOP AND PURCHASE CSS===== */
.shop-purchase-home {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.shop-purchase {
  width: 325px;
  border: 5px solid #32695c;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.shop-purchase-home h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

/* Purchase Button */
.purchase-btn {
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #32695c;
  width: 265px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/*Text for purchase-btn */
.purchase {
  color: white;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
}

/* Arrow for purchase-btn */
#arrow-2 {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Hover animation for purchase-btn */
.purchase-btn:hover {
  color: white;
  background-color: #ffffff;
  border: 2px solid #32695c;
  padding-bottom: 8px;
  padding-top: 8px;
  text-decoration: none;
}

/* Change color of text for purchase-btn when hover */
.purchase-btn:hover .purchase {
  color: #32695c;
}

/* Change color of arrow for purchase-btn when hover */
.purchase-btn:hover #arrow-2 {
  border: solid #32695c;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* --Media Queries-- */

/* Tablet and up */
@media (min-width: 768px) {
  .shop-purchase-home .shop-purchase {
    width: 625px;
  }

  .shop-purchase h1 {
    font-size: 24px;
  }

  .shop-purchase .purchase-btn {
    width: 275px;
  }
}

/* =====FOOTER CSS===== */
.main-footer {
  background: #e0d8ba;
  font-family: 'Roboto', sans-serif;
}
.main-footer .footer-elements {
  width: 182px;
}
.main-footer .footer-img {
  width: 200px;
}
.main-footer ul li {
  list-style-type: none;
  font-weight: 600;
  margin-bottom: 1rem;
}
.main-footer a {
  color: #000;
  text-decoration: none;
}
.main-footer a:hover {
  color: #000;
  transition: text-decoration 1000ms;
  text-decoration: underline;
  transition: text-shadow 500ms;
  text-shadow: 2px 2px 12px #3d464f;
}
.social {
  text-align: center;
}
.social .social-icon {
  display: inline-block;
  padding-bottom: 20px;
}
svg:hover {
  transition: filter 500ms;
  -webkit-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.99));
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.99));
}
.main-footer .social .social-icon {
  margin-right: 20px;
}
.main-footer .social .social-icon.twitter {
  display: inline-block;
  position: relative;
  top: -3px;
}
