/* Product Home component */
.product-home {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.product {
  border: 5px solid #32695c;
  width: 325px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  text-align: center;
}

.product h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  padding-top: 5px;
}

.coffee-bag-1 {
  width: 100px;
  margin-top: 10px;
}

.product h2 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Add to Cart Button */
.add-to-cart-btn {
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: #32695c;
  width: 205px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/*Text for add-to-cart-btn */
.add-to-cart {
  color: white;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
}

/* Arrow for add-to-cart-btn */
#arrow-2 {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Hover animation for add-to-cart-btn */
.add-to-cart-btn:hover {
  color: white;
  background-color: #ffffff;
  border: 1px solid #32695c;
  padding-bottom: 6px;
  padding-top: 6px;
  text-decoration: none;
}

/* Change color of text for add-to-cart-btn when hover */
.add-to-cart-btn:hover .add-to-cart {
  color: #32695c;
}

/* Change color of arrow for add-to-cart-btn when hover */
.add-to-cart-btn:hover #arrow-2 {
  border: solid #32695c;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Media Queries */
@media (min-width: 768px) {
  .product {
    width: 625px;
    height: 200px;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .coffee-bag-1 {
    grid-column: 1;
    width: 75px;
    margin-top: -40px;
    border-right: 2px solid black;
    padding-right: 80px;
  }

  .product h1 {
    grid-column: 2;
    text-align: left;
    margin-left: -65px;
  }

  .product h2 {
    margin-top: -60px;
  }

  .add-to-cart-btn {
    grid-column: 2;
    text-align: center;
    margin-top: -50px;
    margin-left: -10px;
  }
}
