/* Product Home component */
.product-home {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  text-align: center;
}

/* Product Border */
.products {
  height: 360px;
  width: 325px;
  border: 5px solid #32695c;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.desc-and-buy-wrapper {
  grid-row: 1;
}

/* Title */
#desktop-coffee-title {
  display: grid;
  text-decoration: underline;
  font-size: 18px;
  padding-left: 14px;
}

/* Coffee bag img */
.coffee-bag-1 {
  padding-top: 5px;
  padding-bottom: 10px;
  width: 25%;
}

/* Product description */
.product-home h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  width: 185px;
  padding-bottom: 5px;
}

/* Arrow for buy-now-btn */
#arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 20px;
}

/* Add to Cart Button */
.add-to-cart-btn {
  background-color: #32695c;
  width: 215px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin-bottom: 10px;
}

/*Text for add-to-cart-btn */
.add-to-cart {
  color: white;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
}

/* Arrow for add-to-cart-btn */
#arrow-2 {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Hover animation for add-to-cart-btn */
.add-to-cart-btn:hover {
  color: white;
  background-color: #ffffff;
  border: 2px solid #32695c;
  padding-bottom: 8px;
  padding-top: 8px;
  text-decoration: none;
}

/* Change color of text for add-to-cart-btn when hover */
.add-to-cart-btn:hover .add-to-cart {
  color: #32695c;
}

/* Change color of arrow for add-to-cart-btn when hover */
.add-to-cart-btn:hover #arrow-2 {
  border: solid #32695c;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Hide h1 for desktop purposes */
#desktop-coffee-desc {
  display: none;
}

/* MEDIA QUERIES */

/* Tablet and up */
@media (min-width: 768px) {
  /* Product Border */
  .products {
    height: 200px;
    width: 625px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* Hide product description */
  .product-home h1 {
    display: none;
  }

  #desktop-coffee-title {
    text-align: left;
    margin-left: -14px;
  }

  #desktop-coffee-desc {
    display: grid;
    text-align: left;
  }

  .coffee-bag-1 {
    width: 80px;
    grid-column: 1;
    padding-top: 25px;
    border-right: 2px solid black;
    padding-right: 80px;
    margin-left: 100px;
  }

  .desc-and-buy-wrapper {
    grid-column: 2;
  }

  .add-to-cart-btn {
    grid-column: 2;
    height: 18px;
    width: 160px;
  }

  .add-to-cart {
    font-size: 14px;
  }
}
