.product-2 {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.products {
  height: 350px;
  width: 325px;
  border: 5px solid #32695c;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin-bottom: 5%;
}

.coffee-bag-2 {
  padding-top: 25px;
  padding-bottom: 10px;
  max-width: 35%;
}

.product-2 h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  width: 185px;
  margin-bottom: 25px;
}

/* Arrow for buy-now-btn */
#arrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 20px;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #32695c;
  color: white;
  padding: 16px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 265px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 265px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 18px;
  font-family: Roboto;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #32695c;
}

/* Add to Cart Button */
.add-to-cart-btn {
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: #32695c;
  width: 265px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/*Text for add-to-cart-btn */
.add-to-cart {
  color: white;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
}

/* Arrow for add-to-cart-btn */
#arrow-2 {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Hover animation for add-to-cart-btn */
.add-to-cart-btn:hover {
  color: white;
  background-color: #ffffff;
  border: 2px solid #32695c;
  padding-bottom: 8px;
  padding-top: 9px;
  text-decoration: none;
}

/* Change color of text for add-to-cart-btn when hover */
.add-to-cart-btn:hover .add-to-cart {
  color: #32695c;
}

/* Change color of arrow for add-to-cart-btn when hover */
.add-to-cart-btn:hover #arrow-2 {
  border: solid #32695c;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
