.shop-purchase-home {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.shop-purchase {
  width: 325px;
  border: 5px solid #32695c;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.shop-purchase-home h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

/* Purchase Button */
.purchase-btn {
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: #32695c;
  width: 265px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/*Text for purchase-btn */
.purchase {
  color: white;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
}

/* Arrow for purchase-btn */
#arrow-2 {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Hover animation for purchase-btn */
.purchase-btn:hover {
  color: white;
  background-color: #ffffff;
  border: 2px solid #32695c;
  padding-bottom: 8px;
  padding-top: 9px;
  text-decoration: none;
}

/* Change color of text for purchase-btn when hover */
.purchase-btn:hover .purchase {
  color: #32695c;
}

/* Change color of arrow for purchase-btn when hover */
.purchase-btn:hover #arrow-2 {
  border: solid #32695c;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* --Media Queries-- */

/* Tablet and up */
@media (min-width: 768px) {
  .shop-purchase-home .shop-purchase {
    width: 625px;
  }

  .shop-purchase h1 {
    font-size: 24px;
  }

  .shop-purchase .purchase-btn {
    width: 275px;
  }
}
