main {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.products {
  width: 325px;
  text-align: center;
  border: 5px solid #32695c;
}

.coffee-bag-1 {
  padding-top: 25px;
  padding-bottom: 10px;
  max-width: 30%;
}

h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

h2 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  padding-bottom: 10px;
}

.buy-now-btn {
  background-color: #32695c;
  border: none;
  color: white;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 25px;
}


.buy-now-btn:hover {
  color: #32695c;
  background-color: #ffffff;
  border: 2px solid #32695c;
  padding-bottom: 8px;
  padding-top: 9px;
}

#arrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
